{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Super-Secure™ FileServer</h1>
            <p>Don't settle for mere security. Settle for <strong>#SuperSecurity</strong>! Store your proprietary or incriminating data with us.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up now</a>
                <a class="btn btn-primary btn-link" href="/login" role="button">or <strong>log in</strong></a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2><em>#Super</em></h2>
                 <p>We use artisinal, hand-made encryption algorithms to keep you and your data safe. It's not just secure, it's <strong>#Super</strong> secure.</p>
            </div>
            <div class="col-md-4">
                <h2><em>#Secure</em></h2>
                <p>When you choose store your proprietary or incriminating data with us, you become family. We would <em>never</em> turn on our family. Never. That's <strong>#Security</strong> you can trust.</p>
         </div>
            <div class="col-md-4">
                <h2><em>#FileSystem</em></h2>
                <p>Our people have been serving files for thousands of years. Like our fathers, and their fathers before them, it is our only purpose to serve your files. More than just a FileMélange, we're a <strong>#FileSystem</strong>.</p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; 2017 SSFS, Inc.</p>
        </footer>
    </div>
{% endblock body %}
