{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h3>Super-Secure™ FileServer</h3>

        <div class="panel panel-default container">

            <div class="panel-body">
                <a href="/files" class="pull-right"><strong>View Files</strong></a>
                <a href="/users">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    Users
                </a>

                <hr />

                <!-- search -->
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-4">
                        <form action="users" method="get">
                            <div class="input-group">
                                <input type="text" name="username" class="form-control" placeholder="Search by username">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Search</button>
                                </span>
                                <span class="input-group-btn">
                                    <a href="/users" class="btn btn-default">Reset</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <br />

                <!-- users table -->
                <table class="table">
                    <thead>
                        {% if users %}
                            {% for field in users[0].keys() %}
                                <th>{{ field }}</th>
                            {% endfor %}
                        {% endif %}
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            {% for field in user %}
                                <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <td>No users!</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
